<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	{{!-- reset css --}}
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
	<!-- boostrap: Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- bootstrap: Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	{{!-- google font --}}
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	{{!-- custom css --}}
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	{{!-- favicon --}}
	<link rel="shortcut icon" href="/assets/images/burger.png" type="favicon.png">
</head>
<body>
	{{!-- handlebars body goes here --}}
	{{{body}}}
	{{!-- jquery cdn --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	{{!-- custom js file --}}
	<script src="/assets/js/burger_script.js" type="text/javascript"></script>
</body>
</html>